.noti {
    position          : fixed;
    right             : 12px;
    top               : 66px;
    background-color  : rgb(244, 244, 244);
    /*box-shadow      : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    */
    border-radius     : 8px;
    display           : flex;
    transform         : translateX(150%);
    animation         : noti 3s forwards 1 linear;
    z-index           : 9999;
    -webkit-transform : translateX(150%);
    -moz-transform    : translateX(150%);
    -ms-transform     : translateX(150%);
    -o-transform      : translateX(150%);
    -webkit-animation : noti 3s forwards 1 linear;
    box-shadow        : -15px 17px 16px -12px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -15px 17px 16px -12px rgba(0, 0, 0, 0.5);
}

@keyframes noti {

    20%,
    80% {
        transform        : translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform   : translateX(0);
        -ms-transform    : translateX(0);
        -o-transform     : translateX(0);
    }

    100% {
        transform        : translateX(150%);
        -webkit-transform: translateX(150%);
        -moz-transform   : translateX(150%);
        -ms-transform    : translateX(150%);
        -o-transform     : translateX(150%);
    }
}


.noti-content {
    padding        : 15px;
    display        : flex;
    justify-content: center;
    align-items    : center;

}

.noti-content i {
    color                       : #000000;
    margin-right                : 8px;
    background                  : linear-gradient(to right, #40ff00, #bcff20);
    -webkit-background-clip     : text;
    -webkit-text-fill-color     : transparent;
    -webkit-box-decoration-break: clone;
    animation                   : 1.2s ease infinite;
}

.noti-title {
    font-size  : 16px;
    font-weight: 400;
    color      : #000000;
}