.wrapper-insert--product {
    background     : linear-gradient(45deg, #FC466B, #3F5EFB);
    height         : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.form-insert {
    width                : 100%;
    max-width            : 414px;
    border-radius        : 10px;
    background           : rgba(255, 255, 255, 0.3);
    border-left          : 1px solid rgba(255, 255, 255, 0.3);
    border-top           : 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter      : blur(10px);
    box-shadow           : 20px 20px 40px -6px rgb(0 0 0 / 20%);
    text-align           : center;
    -webkit-border-radius: 10px;
    -moz-border-radius   : 10px;
    -ms-border-radius    : 10px;
    -o-border-radius     : 10px;
}

.form-insert h3 {
    font-size  : 20px;
    margin-top : 20px;
    font-weight: 700;
}

.form-insert--item {
    padding: 15px 30px;
}

.form-insert-input {
    width        : 100%;
    margin-bottom: 20px;

}

.form-insert-input input,
.form-insert-input textarea {
    width                  : 100%;
    background             : transparent;
    padding                : 10px;
    border                 : none;
    outline                : none;
    border-left            : 1px solid rgba(255, 255, 255, 0.3);
    border-top             : 1px solid rgba(255, 255, 255, 0.3);
    border-radius          : 10px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter        : blur(5px);
    box-shadow             : 4px 4px 60px rgb(0 0 0 / 20%);
    color                  : #fff;
    transition             : all 0.2s ease-in-out;
    text-shadow            : 2px 2px 4px rgb(0 0 0 / 20%);
    -webkit-border-radius  : 10px;
    -moz-border-radius     : 10px;
    -ms-border-radius      : 10px;
    -o-border-radius       : 10px;
}

.form-insert-input span {
    display      : inline-block;
    margin-bottom: 10px;
    font-size    : 16px;
    font-weight  : 500;
    color        : rgb(11, 11, 11);
}

.form-insert-input textarea {
    width : 100%;
    height: 50px;
    resize: none;
}

.btn-11 {
    background: linear-gradient(to right, #5898ba, #d042d2);
}

.form-insert-input--btn {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-bottom  : 30px;
}