.wrapper-insert--product {
    background     : linear-gradient(45deg, #FC466B, #3F5EFB);
    height         : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.form-insert {
    width                : 100%;
    max-width            : 414px;
    border-radius        : 30px;
    background           : rgba(255, 255, 255, 0.3);
    border-left          : 1px solid rgba(255, 255, 255, 0.3);
    border-top           : 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter      : blur(10px);
    box-shadow           : 20px 20px 40px -6px rgb(0 0 0 / 20%);
    text-align           : center;
    -webkit-border-radius: 30px;
    -moz-border-radius   : 30px;
    -ms-border-radius    : 30px;
    -o-border-radius     : 30px;
}

.form-insert--item {
    padding: 15px 30px;
}

.form-insert-input {
    width        : 100%;
    margin-bottom: 20px;

}

.form-insert-input input {
    width                  : 100%;
    background             : transparent;
    padding                : 10px;
    border                 : none;
    border-left            : 1px solid rgba(255, 255, 255, 0.3);
    border-top             : 1px solid rgba(255, 255, 255, 0.3);
    border-radius          : 5000px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter        : blur(5px);
    box-shadow             : 4px 4px 60px rgb(0 0 0 / 20%);
    color                  : #fff;
    transition             : all 0.2s ease-in-out;
    text-shadow            : 2px 2px 4px rgb(0 0 0 / 20%);
}