a {
    text-decoration: none;
}

/* ------Page-------- */
.page-list {
    display        : flex;
    align-items    : center;
    justify-content: center;
    list-style     : none;
    margin         : 30px 0 10px;
}

.page-item {
    border-radius: 4px;

    width          : 36px;
    height         : 36px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-right   : 4px;
    background     : #1b364e;
    transition     : .5s all;
    color          : #feffff;
    font-size      : 14px;
    text-shadow    : 0 1px 0 rgb(0 0 0 / 50%);
    box-shadow     : inset 0 1px 1px rgb(255 255 255 / 7%), 0 1px 3px rgb(0 0 0 / 29%);
}

.page-item:hover {
    cursor    : pointer;
    background: #396792;
    color     : #fff;
    transition: .5s all;
}

.page-item.active {
    background: linear-gradient(to right, #ff8a00, #ff2070);
    transition: .5s all;
    color     : #fff;
}

.page-item.active:hover {
    background         : #cd881e;
    background-position: right center;
    cursor             : not-allowed;
}